

// Colors
$bg: #2b2b2b;
$primaryColor: #A259FF;
$fontColor: #fff;
$fontSubColor: #858584;


  // Fonts
$fontMain: 'WorkSansRegular', sans-serif;
$fontMainTitle: 'WorkSansSemiBold', sans-serif;

$fontSub: 'SpaceMonoRegular', sans-serif;
$fontSubTitle: 'SpaceMonoBold', sans-serif;


// Borders
$defaultRadius: 20px;

// Transitions
$defaultTransition: .2s all;

// Media Queries

